streamlit

python-dotenv
requests

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq

langgraph
langgraph-checkpoint-sqlite

faiss-cpu
pypdf
sentence-transformers
torch

duckduckgo-search